@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
  
  body {
    background-color: #0a0a0a;
  }
}

@keyframes progressFill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress-fill {
  animation: progressFill 6s ease-out forwards;
}

